<div class="tagbox flex-container items-between"> 
    <div  *ngFor="let details of tagdetailsData" class="tag shadow-md m-2 p-2 rounded-md">
        <p class="text-xl text-center  font-medium">{{details.title | uppercase}}</p>
        <div (click)="getsingletag(details._id)" class="flex  items-center justify-evenly   cursor-pointer" >
            <img [src]="'http://localhost:4000/images/'+details.image" alt="Tag images" style="width: 10vh ; height: fit-content;">
            <p class="text-justify px-2">
                {{details.description}}</p>
        </div>
    </div>
</div>
<div class="flex justify-end px-5 m-4">
    <button class="pl-3  text-gray-900  dark:text-black font-medium">Show more<i class="fa-solid fa-arrow-right"></i>
    </button>
</div>
<!-- 
Install the "flowbite-typography" NPM package to apply styles and format the article content: 

URL: https://flowbite.com/docs/components/typography/ 
-->

<main class=" lg:pb-24 bg-white dark:bg-gray-900">
    <div *ngFor="let post of postdetails" class=" flex justify-start flex-row px-4 mx-auto max-w-screen-xl mt-3" >
        <article routerLink="/singlepost/{{post._id}}" class="shadow-md p-4 mx-auto w-full cursor-pointer format format-sm sm:format-base lg:format-lg format-blue dark:format-invert text-justify border border-gray-400" style="width: 60% !important;">
            <header class="mb-4 lg:mb-6 not-format ">
                <address class="flex items-center mb-6 not-italic ">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white ">
                        <img class="mr-4 w-12 h-12 rounded-full" [src]="post.userId.image" alt="Jese Leos">
                        <div>
                            <a href="#" rel="author" class="text-xl font-bold text-gray-900 ">{{post.userId.userName}}</a>
                            <!-- <p class="text-base font-light text-gray-500 dark:text-gray-400">Graphic Designer, educator & CEO Flowbite</p> -->
                            <p class="text-base font-light text-gray-500 dark:text-gray-400"><time pubdate >{{post.date}}</time></p>
                        </div>
                    </div>
                </address>
            </header>
            <div class="flex justify-center mb-6" > 
                <img [src]="'http://localhost:4000/images/'+post.image" alt="">
            </div>
            <p>
                <span class="text-gray-400" *ngFor="let tag of post.tag">#{{tag.title}}&nbsp;</span>
            </p>
            <p class="content" [innerHTML]="post.post"></p>
            <!-- <p class="mt-2 font-medium">{{post.tag}}</p> -->
        </article>
        <div style="width: 30% !important;"> 
        </div>
    </div>
</main>

