<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
   <div class="px-3 py-3 lg:px-5 lg:pl-3">
      <div class="flex items-center justify-between">
         <div class="flex items-center justify-start">
            <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
               type="button"
               class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-cyan-100 focus:outline-none focus:ring-2 focus:ring-gray-200  dark:hover:bg-gray-700 dark:focus:ring-gray-600">
               <span class="sr-only">Open sidebar</span>
               <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd" fill-rule="evenodd"
                     d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                  </path>
               </svg>
            </button>
            <a routerLink="/" class="flex ml-2 md:mr-24">
               <!-- <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="FlowBite Logo" /> -->
               <span
                  class="DevDome self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-black px-5">DevDom</span>
            </a>

         </div>

         <div class="flex items-center">

         </div>
      </div>
   </div>
</nav>

<aside id="logo-sidebar"
   class="fixed top-0 left-0 z-40 w-60 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
   aria-label="Sidebar">
   <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
      <p class="text-lg uppercase font-semibold ml-4 mb-2 cursor-pointer" (click)="listsort('alllist')">All List</p>
      <ul class="space-y-2 font-medium">
         <li *ngFor="let listcat of listcategory">
            <a (click)="listsort(listcat._id)" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-sky-100 cursor-pointer">

               <span class="ml-3">{{listcat.listcategory}}</span>
            </a>
         </li>
         
      </ul>
   </div>
</aside>
<div class="p-4 sm:ml-64">

   <div class="rounded-md dark:border-gray-700 mt-14 min-h-screen">


      <div class="flex justify-between">
         <h1 class="text-2xl font-bold text-gray-600">Listing</h1>
         <button routerLink="/new-list"
            class="flex justify-center items-center pl-5 p-2 text-gray-900 rounded-lg dark:text-black hover:bg-sky-100 text-center font-medium p-2"
            style="background-color: rgb(196, 255, 255);">+ Create new list</button>
      </div>

      <div class="listbox mt-6">
         <div *ngFor="let li of list" class="list lg:max-w-full lg:flex">

            <div
               class="list border border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
               <div class="mb-6">
                  
                  

                  <div class="text-gray-900 font-bold text-xl mb-2">{{li.title}}</div>

                  <p class="text-gray-700 text-base text-justify">{{li.details}}</p>
               </div>
               <p class="font-semibold">Location : {{li.location}}</p>
               <p class="font-semibold mb-2">Expiry date: {{getexpdate(li.expdate)}}</p>
               <div class=" pt-2 pb-4">
                  <span *ngFor="let tag of li.tag" class="bg-gray-100 text-gray-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded  ">#{{tag}}</span>                  
               </div>
               <div class="flex items-center">
                  <img class="w-10 h-10 rounded-full mr-4"
                     [src]="li.userId?.image">
                  <div class="text-sm">
                     <p class="text-gray-900 leading-none">{{li.userId?.userName}}</p>
                     <p class="text-gray-600">{{getDateRelative(li.date)}}</p>
                  </div>
               </div>
            </div>
         </div>

         
      </div>
   </div>
</div>

